.section__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__name {
        font-size: 67px;
        letter-spacing: 4px;
        margin-bottom: 5px;

        &-color {
            color: #c23838;
        }
    }

    &__description {
        font-size: 34px;
        letter-spacing: 2.2px;

        &-color {
            color: #c23838;
        }
    }
}

.para {
    font-size: 31px;
    position: absolute;
    bottom: 0.8em;
    text-align: center;
    letter-spacing: 3px;

    &__info {

        &-highlighted {
            color: #c23838;
        }

        &-highlighted2 {
            color: #e3de56;
        }
    }
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0 5em;
    max-width: 1250px;              // 1300px actual
    margin: 0 auto;
    
    &__heading {
       color: #bb535b; 
       font-size: 22px;
       font-family: $third-font;
       letter-spacing: 8px;
    }

    &__description {
        line-height: 30px;
        color: #dfdfdf;
        font-family: $third-font;
        font-size: 22px;
        letter-spacing: 0.5px;
        margin-top: 1em;

        &-highlighted {
            
            a {
                color: #bb535b;
                font-weight: 900;
            }
        }
    }

    &__contact {

        &-info {

            &-highlighted {

                a {
                    color: #bb535b;
                    font-weight: 900;
                }
                
            }
        }
    }
}